.action-btn-container{

 display: flex;
 justify-content: space-between;
 gap:1rem;
 align-items: center;
.section-heading{

    h3{
        font-size: 1.7rem;
        font-weight: 300;
        color:var(--black);
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}
   .section-action{
    display: flex;
 justify-content: flex-end;
 gap:1rem;
 align-items: center;
    .action-btn{
        
    }
    .action-btn.active{}
    .action-btn:hover{}

}
    
  }